
:root {
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --primary-white-color:#FFFFFF;
}
  
.body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}


.logo {
    color: var(--primary-text-color);
    font-family: raleway, sans serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

.blue-logo {
    color: var(--accent-color);
}

.logo:hover, :focus {
    color: var(--primary-text-color);
}

.main-title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.item-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.66;
    color: var(--primary-text-color);
}

.text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.section-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    color: var(--primary-text-color);
}

.item-name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}

.job-position {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.9;
    color:var(--secondary-text-color);
}

.project-title {
    
}

.address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.list {
     list-style: none;
}
   
.button:hover, :focus {
    color: var(--accent-color);
    text-decoration: none;
}

.button.pimary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.site-nav .link {
    color: var(--accent-color);
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--primary-text-color);
    
}
<!-- Footer -->

.contact-list .contact-mail .contact-phone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color:var(--secondary-text-color);
}

.contact-list .contact-mail .contact-phone:hover, :focus {
    font-style: normal;
    color: var(--accent-color);
    text-decoration: none;
}

}

